a {
	color: black;
}
h1.title {
	margin: 0;
}
	

.heading {
	font-weight: bold;
	border-bottom: solid thin black;
	margin-bottom: 4px;
	font-size: 14pt;
}

.subheading {
	font-weight: bold;
	padding-top: 4px;
	padding-bottom: 4px;
}

.infoul {
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.SkateBoard {
	padding: 1px;
	border: solid 1px black;
	background-color: #ccc;
	color: #888;
}
.SpeederBike {
	padding: 2px;
	border: solid 2px black;
	background-color: #fff;
	color: #888;
}
.Bike {
	padding: 2px;
	border: solid 1px black;
	background-color: #8c8;
	color: #383;
}
.Rickshaw {
	padding: 4px;
	border: solid 2px black;
	background-color: #c82;
	color: #cd0;
}
.AirShip {
	padding: 4px;
	border: solid 4px black;
	background-color: #ff0;
	color: #444;
}
.MagicCarpet {
	padding: 4px;
	border: solid 1px blue;
	background-color: #ccf;
	color: #00e;
}
.Ferry , .SpeedBoat {
	border: 1px dashed white;
	padding: 4px;
}
.Ferry a, .SpeedBoat {
	color: white;
}

.monster {
	border: solid 1px black;
	background: #aaa;
	color: black;
	padding: 1px;
	font-size: 80%;
}
.monster_fire {
	background-color: #400;
	border-color: #f88;
	color: #f88;
}
.monster_earth {
	background-color: #040;
	border-color: #8f8;
	color: #6f6;
}
.monster_water {
	background-color: #004;
	border-color: #88f;
	color: #99f;
}
.monster_air {
	background-color: #440;
	border-color: #ff8;
	color: #ff6;
}
.monster_spirit {
	background-color: #eee;
	border-color: #88f;
	color: #88f;
}
.monster_shrimp {
	background-color: #fcc;
	border-color: #b66;
	color: #b66;
}
.monster_sewage {
	background-color: #637100;
	color: #000;
	border-color: #6a6;
}
.monster_ice {
	background-color: #aaf;
	color: #000;
	border-color: #44f;
}
.player {
	text-align: center;
	border: solid 2px black;
	background: #b0b0b0;
	color: black;
	padding: 1px;
	font-size: 80%;
	font-family: sans-serif;
}
.player a {
	color: black;
	text-decoration: none;
}

.player_fire {
	border-color: #c00;
}
.player_water {
	border-color: #00c;
}
.player_air {
	border-color: #ca0;
}
.player_earth {
	border-color: #0c0;
}
.crowd {
	border: solid 2px black;
	background: #ccc;
	color: black;
	font-weight: bold;
	padding: 1px;
	font-size: 120%;
}
.knight {
	border-style: dotted;
	font-family: serif;
}
.baron {
	border-style: dashed;
	border-width: 4px;
	font-weight: bold;
	font-family: serif;
}
.earl {
	border-style: solid;
	border-width: 4px;
	font-weight: bold;
	font-family: serif;
	font-style: italic;
}
.baron .player_air {
	background: black;
}	
.taxi {
	margin-top: 4px;
	border: yellow dashed 2px;
	background: black;
	color: yellow;
	font-weight: bold;
	padding: 0px;
}





.road {
	background-color: #cc8;
	background-image: url(http://cities.totl.net/images/grass.jpg);
	text-align: center;
	padding: 3px;
}
.road_h {
	border-top: 2px dashed black;
	border-bottom: 2px dashed black;
	height: 80px;
}
.road_v {
	width: 80px;
	padding-top: 8px;
	padding-bottom: 8px;
	border-left: 2px dashed black;
	border-right: 2px dashed black;
}
.road_safe, .road_gauntlet, .road_cloudcastle, .road_gorganpalace, .road_pit, .road_dungeon, .road_safer, .road_undercroft {
	background-image: url(http://cities.totl.net/images/road.jpg);
	background-color: #ccc;
}
.road_beach {
	background-color: #cc8;
	background-image: url(http://cities.totl.net/images/beach.png);
}
.road_gangplank {
	background-image: url(http://cities.totl.net/images/boat.png);
	color: white;
}
.road_boat {
	background-image: url(http://cities.totl.net/images/boat.png);
	color: white;
}
.road_space , .road_safespace{
	color: #ccf;
	background-color: #000;
	background-image: url(http://cities.totl.net/images/space.jpg);
}
.road_wild {
	background-color: #cc8;
	background-image: url(http://cities.totl.net/images/grass.jpg);
}
.road_wilder {
	background-color: #cc8;
	background-image: url(http://cities.totl.net/images/grass.jpg);
}
.road_limbo {
	background-color: black;
	background-image: none;
}
.road_rocks {
	background-color: #ccc;
	background-image: url(http://cities.totl.net/images/crags.jpg);
}
.road_mountain, .road_safemountain {
	background-color: #ccc;
	background-image: url(http://cities.totl.net/images/crags.jpg);
}
.road_crags {
	background-color: #ccc;
	background-image: url(http://cities.totl.net/images/crags.jpg);
}
.road_jungle, .road_thickjungle {
	background-color: #484;
	background-image: url(http://cities.totl.net/images/jungle.png);
	color: white;
}
.road_forest, .road_tforest, .road_ozforest {
	background-color: #484;
	background-image: url(http://cities.totl.net/images/forest.jpg);
	color: white;
}
.road_badlands, .road_kansas {
	background-color: #884;
	background-image: url(http://cities.totl.net/images/badlands.png);
	color: white;
}
.road_desert, .road_greatdesert {
	background-color: #884;
	background-image: url(http://cities.totl.net/images/badlands.png);
	color: white;
}
.road_ozplain {
	background-color: #cc8;
	background-image: url(http://cities.totl.net/images/grass.jpg);
}
.road_plain {
	background-color: #cc8;
	background-image: url(http://cities.totl.net/images/grass.jpg);
}
.road_cloud , .road_safecloud{
	background-color: #fff;
	background-image: url(http://cities.totl.net/images/clouds.jpg);
}
.road_water, .road_ocean,.road_whaleocean, .road_pond, .road_flood, .road_safewater, .road_catacombpool, .road_ozwater, .road_oceanwizonly, .road_shrimp {
	background-color: #8cc;
	background-image: url(http://cities.totl.net/images/water.png);
}
.road_mudwet {
	background-color: #cc4;
	color: white;
	background-image: url(http://cities.totl.net/images/mudwet.jpg);
}
.road_muddry {
	background-color: #cc4;
	color: white;
	background-image: url(http://cities.totl.net/images/muddry.jpg);
}
.road_bright {
	background-color: #fff;
	background-image: none;
	color: #888;
}
.road_dark {
	background-color: #000;
	background-image: none;
	color: #888;
}
.road_tree {
	background-color: #444;
	background-image: url(http://cities.totl.net/images/cave.png);
	color: white;
}
.road_cave, .road_ozcave, .road_vault {
	background-color: #444;
	background-image: url(http://cities.totl.net/images/cave.png);
	color: white;
}
.road_swamp, .road_fireswamp {
	background-color: #cf4;
	color: #000;
	background-image: url(http://cities.totl.net/images/swamp.png);
}
.road_coollava, .road_coolinglava {
	background-color: #444;
	color: #ccc;
	background-image: url(http://cities.totl.net/images/coollava.png);
}
.road_lava {
	background-color: #cf4;
	color: #ff0;
	background-image: url(http://cities.totl.net/images/lava.jpg);
}
.road_sewage, .road_drain {
	background-color: #cf4;
	color: #ff0;
	background-image: url(http://cities.totl.net/images/slime.jpg);
}
.road_tunnel, .road_minotaurlair, .road_catacomb {
	background-color: #cc4;
	color: white;
	background-image: url(http://cities.totl.net/images/tunnel.jpg);
}
.road_snow, .road_icestation, .road_safesnow {
	background-color: #fff;
	color: #000;
	background-image: url(http://cities.totl.net/images/snow.png);
}
.road_ice, .road_thinice, .road_thickice {
	background-color: #ddf;
	color: #000;
	background-image: url(http://cities.totl.net/images/ice.jpg);
}
.road_glacier, .road_iceberg {
	background-color: #bbd;
	color: black;
	background-image: url(http://cities.totl.net/images/glacier.jpg);
}
.dragon_air {
	color: white;
	background-color: #000;
	background-image: url(http://cities.totl.net/images/dragon_air.png);
}
.dragon_water {
	color: white;
	background-color: #000;
	background-image: url(http://cities.totl.net/images/dragon_water.png);
}
.dragon_fire {
	color: white;
	background-color: #000;
	background-image: url(http://cities.totl.net/images/dragon_fire.png);
}
.dragon_earth {
	color: white;
	background-color: #000;
	background-image: url(http://cities.totl.net/images/dragon_earth.png);
}
	
.map_loc_medium {
	border: none;
	background-color: #cc8;
	width: 30px;
	height: 30px;
	background-image: url(http://cities.totl.net/images/grass.jpg);
	text-align: center;
}
	

.map_loc_tiny {
	border: none;
	background-color: #cc8;
	width: 1px;
	height: 1px;
	background-image: url(http://cities.totl.net/images/grass.jpg);
	text-align: center;
}
	

.map_loc {
	border: none;
	background-color: #cc8;
	width: 20px;
	height: 20px;
	background-image: url(http://cities.totl.net/images/grass.jpg);
	text-align: center;
}
.location {
	border: solid 2px black;
	text-align: center;
	background-color: #cc8;
	padding: 4px;
	background-image: url(http://cities.totl.net/images/grass.jpg);
}
/*
.location , .map_loc
{
	background-image: url(http://cities.totl.net/images/snow.png);
	color: black;
}
*/
.loc_null {
	background-color: #000;
	background-image: none;
	
}
.loc_city {
	padding: 2px;
	border-width: 4px;
	background-color: #999;
	background-image: url(http://cities.totl.net/images/road.jpg);
	color: #fff;
	font-weight: bold;
}
.loc_road {
	background-color: #999;
	background-image: url(http://cities.totl.net/images/road.jpg);
}
.loc_boat {
	background-image: url(http://cities.totl.net/images/boat.png);
	color: white;
}
.loc_corpse
{
	background-image: url(http://cities.totl.net/images/corpse.jpg);
	color: white;
}
.loc_party {
	background-image: url(http://cities.totl.net/images/party.gif);
	background-position: center center;
	font-weight: bold;
	color: #00b;
}
.loc_display {
	background: url(http://cities.totl.net/images/works.gif) center center no-repeat;
	font-weight: bold;
	min-width: 300;
	min-height: 225;
	background-color: black;
	color: #fff;
}
.loc_picnic {
	background-image: url(http://cities.totl.net/images/picnic.png);
	font-weight: bold;
	color: #00b;
}
.loc_plow {
	background-image: url(http://cities.totl.net/images/plow.png);
	color: white;
}
.loc_planted {
	background-image: url(http://cities.totl.net/images/planted.png);
	color: white;
}
.loc_ripe {
	background-image: url(http://cities.totl.net/images/ripe.png);
	color: white;
}

.loc_wizisle, .road_wizisle {
	background-image: url(http://cities.totl.net/images/wizisle.png);
	color: #808;
}


.loc_space {
	color: #ccf;
	background-color: #000;
	background-image: url(http://cities.totl.net/images/space.jpg);
}
.loc_cloud {
	background-color: #fff;
	background-image: url(http://cities.totl.net/images/clouds.jpg);
}
.loc_beach {
	background-color: #ff8;
	background-image: url(http://cities.totl.net/images/beach.png);
}
.loc_swamp {
	background-color: #cf4;
	color: #000;
	background-image: url(http://cities.totl.net/images/swamp.png);
}
.loc_sewage {
	background-color: #cf4;
	color: #ff0;
	background-image: url(http://cities.totl.net/images/slime.jpg);
}
.loc_coollava {
	background-color: #444;
	color: #ccc;
	background-image: url(http://cities.totl.net/images/coollava.png);
}
.loc_lava {
	background-color: #cf4;
	color: #ff0;
	background-image: url(http://cities.totl.net/images/lava.jpg);
}
.loc_water, .loc_ocean {
	background-color: #8cc;
	color: #fff;
	background-image: url(http://cities.totl.net/images/water.png);
}
.loc_cave {
	background-color: #444;
	background-image: url(http://cities.totl.net/images/cave.png);
	color: white;
}
.loc_bright {
	background-color: #fff;
	background-image: none;
	color: #888;
}
.loc_dark {
	background-color: #000;
	background-image: none;
	color: #888;
}
.loc_mountain {
	background-color: #ccc;
	background-image: url(http://cities.totl.net/images/crags.jpg);
	font-weight: bold;
}
.loc_crags {
	background-color: #ccc;
	background-image: url(http://cities.totl.net/images/crags.jpg);
	font-weight: bold;
}
.loc_jungle {
	background-color: #484;
	background-image: url(http://cities.totl.net/images/jungle.png);
	color: white;
}
.police {
	background-image: url(http://cities.totl.net/images/police.png);
	padding: 1em;
	color: white;
}
.loc_forest {
	background-color: #484;
	background-image: url(http://cities.totl.net/images/forest.jpg);
	color: white;
}
.loc_desert {
	background-color: #884;
	background-image: url(http://cities.totl.net/images/badlands.png);
	color: white;
}
.loc_badlands {
	background-color: #884;
	background-image: url(http://cities.totl.net/images/badlands.png);
	color: white;
}
.loc_mountains {
	background-color: #802020;
}
.loc_stone {
	background-color: #999;
	background-image: url(http://cities.totl.net/images/road.jpg);
	color: #fff;
	font-weight: bold;
}
.loc_temple {
	background-color: #808080;
}
.loc_goth {
	background-image: none;
	font-weight: bold;
	background-color: black;
	color: red;
	border: solid 1px red;
}
.loc_dragon {
	color: white;
	background-color: #000;
	background-image: url(http://cities.totl.net/images/dragon.png);
}
.loc_mudwet {
	background-color: #cc4;
	color: white;
	background-image: url(http://cities.totl.net/images/mudwet.jpg);
}
.loc_muddry {
	background-color: #cc4;
	color: white;
	background-image: url(http://cities.totl.net/images/muddry.jpg);
}
.loc_snow {
	background-color: #ddf;
	color: black;
	background-image: url(http://cities.totl.net/images/snow.png);
}
.loc_ice {
	background-color: #bbf;
	color: black;
	background-image: url(http://cities.totl.net/images/ice.jpg);
}
.loc_glacier {
	background-color: #bbd;
	color: black;
	background-image: url(http://cities.totl.net/images/glacier.jpg);
}
.loc_tunnel {
	background-color: #cc4;
	color: white;
	background-image: url(http://cities.totl.net/images/tunnel.jpg);
}
.loc_doore {
	background-color: #cc4;
	color: white;
	background-image: url(http://cities.totl.net/images/doore.jpg);
}

.loc_vashka {
	color: black;
	background: #fff;
	background-image: none;
	border: double;
}



div.controls, div.footer {
	background-image: url(http://cities.totl.net/images/parchment-dark.jpg);
	background-color: #ccc;	
	border: solid 2px #000;
	padding: 4px;
	margin: 4px;
}
div.footer {
	text-align: center;
	margin: 0.5em 5% 1em 5%;
}
.control_title {
	font-weight: bold;
	font-family: sans-serif;
}
.textin {
	background-image: url(http://cities.totl.net/images/parchment.jpg);
	border: solid black 1px;
	padding: 3px;
}
.button {
	background-image: url(http://cities.totl.net/images/button.jpg);
	border: solid black 1px;
	padding: 3px;
	color: #000;
}

body {
	background-image: url(http://cities.totl.net/images/parchment-darker.jpg);
}
.moveicon
{
	border: solid 1px black;
	margin-top: 4px;
}
input.counter {
	border:0; 
	background-image: url(http://cities.totl.net/images/parchment-dark.jpg); 
	padding: 0;
	font-family: serif;
}
/*
option, input, textarea, select {
	background-image: url(http://cities.totl.net/images/parchment.jpg);
	background-color: #ccc;	
}
*/
.last_minute .cute {
	background-color: #ff00ff;
}
.last_fifteen .cute {
	background-color: #ff00ff;
}
.last_hour  .cute{
	background-color: #ff00ff;
}

.last_minute {
	background-color: #e0e0e0;
}
.last_fifteen {
	background-color: #d0d0d0;
}
.last_hour {
	background-color: #c0c0c0;
}

.ensmallen {
	font-size: 60%;
}
.enbiggen {
	font-size: 150%;
}
.duelist {
	font-style: italic;
	background-color: black;
	color: white;
	border-width: 3px;
}

.score_fire {
	color: #f20;
}
.score_earth {
	color: #080;
}
.score_water {
	color: #338;
}
.score_air {
	color: #ff0;
}
.score_me {
	background: black;
	color: white;
}
.score {
	padding-left: 1em;
}

.position {
	padding-right: 1em;
}
/*
.player {
.player_fire {
.player_water {
.player_air {
.player_earth {
.crowd {
.knight {
.baron {
.earl {
.baron .player_air {
.taxi {
.road {
.road_h {
.road_v {
.road_safe, .road_gauntlet, .road_cloudcastle, .road_gorganpalace {
.road_beach {
.road_limbo {
.road_rocks {
.road_mountain {
.road_crags {
.road_cloud {
.road_water, .road_ocean, .road_pond {
.road_tree {
.road_cave {
.road_swamp {
*/



/*

.road_island,
.road_jungle ,
.road_wild ,
.road_wilder ,
.road_forest, .road_tforest ,
.road_badlands, .road_kansas,
.road_desert, .road_greatdesert,
.road_graveyard,
.road_plain,
.dragon_air ,
.dragon_water ,
.dragon_fire ,
.dragon_earth ,
.loc_jungle ,
.loc_forest ,
.loc_desert ,
.loc_badlands ,
.loc_dragon 
  {
	background-image: url(http://cities.totl.net/images/snow.png);
	color: black;
}
*/

table.stats td { 
	border: solid 1px black; 
	background-image: url(http://cities.totl.net/images/parchment.jpg);
}

td.map_loc .hideuntil, 
td.map_loc_tiny .hideuntil,
td.map_loc_medium .hideuntil
{
	display: none;
}
td.map_loc:hover .hidewhen,
td.map_loc_tiny:hover .hidewhen,
td.map_loc_medium:hover .hidewhen
{
	display: none;
}
td.map_loc:hover .hideuntil,
td.map_loc_tiny:hover .hideuntil,
td.map_loc_medium:hover .hideuntil
{
	display: inline;
}
/* barbelith */

.loc_barb {
	color: white;
	background-image: none;
}
.barb1 { background-color: #8193A8 ; }
.barb2 { background-color: #8193A8 ; }
.barb3 { background-color: #796DCB ; }
.barb4 { background-color: #6DA0CB ; }
.barb5 { background-color: #5BB69F ; }
.barb6 { background-color: #99BF6B ; }
.barb7 { background-color: #A76AB9 ; }
.barb8 { background-color: #BB67A2 ; }
.barb9 { background-color: #C55D83 ; }
.barb10 { background-color: #D35E4C ; }
.barb11 { background-color: #E18C43 ; }
.barb12 { background-color: #E1B040 ; }
.barb13 { background-color: #8193A8 ; }
.barb14 { background-color: #8193A8; }

.bifrost1, .road_Bifrost1 { background-image: none; background-color: #ff0000; }
.bifrost2, .road_Bifrost2 { background-image: none; background-color: #ff8800; }
.bifrost3, .road_Bifrost3 { background-image: none; background-color: #ffff00; }
.bifrost4, .road_Bifrost4 { background-image: none; background-color: #00ff00; }
.bifrost5, .road_Bifrost5 { background-image: none; background-color: #00ffff; }
.bifrost6, .road_Bifrost6 { background-image: none; background-color: #0000ff; }
.bifrost7, .road_Bifrost7 { background-image: none; background-color: #000088; }

.ele1 {
	background-color: #8193A8;
	background-image: url(http://cities.totl.net/images/carpet.jpg);
	color: #fff;
}
.ele2 {
	background-color: #E18C43 ;
	background-image: url(http://cities.totl.net/images/carpet.jpg);
	color: #fff;
}
.ele3 {
	background-color: #A76aB9 ; 
	background-image: url(http://cities.totl.net/images/carpet.jpg);
	color: #fff;
}
.tab 
{ 
	font-size: 10pt; 
	padding: 2px; 
	margin-right: 6px; 
}

.tab a
{
	text-decoration: none;
}

.acttab 
{ 
	border-left: solid black 1px; 
	border-top: solid black 1px; 
	border-right: solid black 1px; 
	font-size: 10pt; 
	padding: 1px; 
	margin-right: 2px; 
	border-bottom: none;
	background-image: url(http://cities.totl.net/images/parchment.jpg);
}

.acttab a
{
	padding: 2px; 
	text-decoration: none;
	color: black;	
}

.tabbedinv 
{ 
	background-image: url(http://cities.totl.net/images/parchment.jpg);
	border: solid black 1px; 
	padding: 2px;
}
.nobgimg
{
	background-image: none;
}
	
.nessie {
	background-image: none;
	background-color: #004;
	border-color: #88f;
	color: #99f;
	padding: 1px;
}


.loc_smoke, .road_smoke {
	background-image: none;
	background-color: #ddd;
	color: #999;
}

.road_filterair, .aironly {
	color: white;
	background-color: #990;
	background-image: none;
}
.road_filterearth, .earthonly {
	color: white;
	background-color: #0b0;
	background-image: none;
}
.road_filterwater, .wateronly {
	color: white;
	background-color: #00b;
	background-image: none;
}
.road_filterfire,.fireonly {
	color: white;
	background-color: #b00;
	background-image: none;
}


.loc_coral, .road_coral {
	background-image: url(http://cities.totl.net/images/coral.png);
	color: white;
}
.magic_look {
	color: white;
	background: url(http://cities.totl.net/images/magic.gif) center center;
}
.magic_look a { color: white; }

.loc_dreamtime, .road_dreamtime {
	background: url(http://cities.totl.net/images/dreamtime.gif);
	color: #ffffd0; 
}
.loc_bush, .road_bush {
	background: url(http://cities.totl.net/images/bush.png);
	color: #804000; 
}
.loc_ybr, .road_ybr {
	background: yellow url(http://cities.totl.net/images/ybr.png);
	font-weight: bold;
	color: #00a000; 
}

.m1 {
	background: #888 url(http://cities.totl.net/images/appr.png);
	color: white;
	font-family: serif;
	font-weight: bold;
}
.m2 {
	background: #8f8 url(http://cities.totl.net/images/shaman.png);
	color: white;
	font-weight: bold;
	font-size: 100%;
	font-family: serif;
}
.m3 {
	background: #008 url(http://cities.totl.net/images/wiz.jpg);
	color: white;
	font-family: serif;
}
.m1 a, .m2 a, .m3 a { color: white; }

.arm1 {
	background: #ccc url(http://cities.totl.net/images/arm1.jpg) ;
	font-weight: bold;
}
.arm2 {
	background: #ccc url(http://cities.totl.net/images/arm2.jpg) center center;
	font-weight: bold;
	color:white;
}
.arm2 a {color: white;}
.arm3 {
	background: #ccc url(http://cities.totl.net/images/arm3.gif) center center;
	font-weight: bold;
	color: #daf;
}
.arm3 a {color: #daf;}

.popper {
    position: absolute;
    visibility: hidden;
    z-index: 200;
}
.road_cutjungle, .loc_cutjungle {
	background-image: url(http://cities.totl.net/images/cutjungle.png);
	background-color: #484;
}
.road_astral, .loc_astral {
	background-image: url(http://cities.totl.net/images/astral.png);
	background-color: #fff;
}
.road_pimp, .loc_pimp {
	background: url(http://cities.totl.net/images/pimp.gif) center center;
}
